.home {
  background-color: #ffffff;
  background-image: url("../../../src//images//loginBackground.svg");
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.app-title {
  position: absolute;
  top: 30vh;
  left: 10vh;
}
.app-title h4 {
  color: white;
  font-size: 40px;
}
.app-title h1 {
  color: white;
  font-size: 450%;
}
.auth {
  margin-left: 60vw;
  margin-top: 20vh;
}
