.sidebar {
  width: 285px;
  height: 100vh;
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 40px;
  box-shadow: 5px 0 5px 10px rgb(245, 243, 243);
  display: block;
  background-color: #ffffff;
}
.sidebar h6 {
  color: #49006b;
  margin-top: 15px;
  margin-bottom: 50px;
}

@media (min-width: 1281px) and (max-width: 1600px) {
  
}


@media (min-width: 1025px) and (max-width: 1280px)  {
  .sidebar {
    width: 240px;
    padding-top: 50px;
    margin-left: 0px;
    orientation: landscape;
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px)  {
  .sidebar {
    width: 220px;
    padding-top: 50px;
    margin-left: 0px;
    orientation: landscape;
    margin-right: 10px;
  }
  .sidebar h6 {
    color: #49006b;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 15px;
  }
}



@media (min-width: 521px) and (max-width: 767px) {
  
}

@media (max-device-width: 520px){
  

}