.header {
  font-size: large;
  border-bottom: 3px solid #cecaca;
  padding-bottom: 10px;
  /* border-bottom:1px solid black */
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}


@media (min-width: 768px) and (max-width: 1024px)  {
  .main-button{
    padding: 0;
  }

}