.dashboard-container {
}
.dashboard-items {
  margin: 40px 0px;
  width: 70vw;
}
.dashboard-next-exam {
  margin-top: 8vh;
  margin-left: 2vw;
  height: 18vh;
  background: linear-gradient(
    180deg,
    rgba(17, 38, 77, 0.82) 0%,
    rgba(73, 0, 107, 0.82) 100%
  );
  width: 70vw;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.dashboard-next-exam h6 {
  margin-top: 10px;
  color: white;
}
.dashboard-next-exam h3 {
  color: white;
}
.dashboard-next-exam button {
  margin-top: 10%;
  width: 153px;
  height: 50px;
  font-size: large;
}

.dashboard-upcomming-exam {
  margin-left: 2vw;
}
